:root
{
    --background-header: #042a35;
    --color-header: #f0f8ff;

    --background-main: #d7f4ff;
    --color-main: #02060a;

    --background-footer: #729aa5;
    --color-footer: #02060a;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;

    font-family: consolas;
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* padding-left: 15px;
    padding-right: 15px; */
    padding: 10px 15px;

    background-color: var(--background-header);
    color: var(--color-header);

    position: sticky;
    top: 0;
    left: 0;
}

header div.menu
{
    cursor: pointer;
}

header a
{
    text-decoration: none;
    color: var(--color-header);
}

header a h1
{
    text-transform: uppercase;
    font-size: 2.3rem;

    cursor: pointer;
}

header div.magnifier
{
    padding: 2px;
    border-radius: 50%;
    background-color: #f5deb333;

    cursor: pointer;
}

/* Main */
main
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    padding: 30px 12px;

    background-color: var(--background-main);
    color: var(--color-main);
}

main section.news
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

main section.news article a
{
    cursor: pointer;
    text-decoration: none;
    color: var(--color-main);
}

main section.news article
{
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(216, 178, 122);
    max-width: 290px;
}

main section.news article div.materia
{
    width: 270px;
    height: 250px;
    
    background-position: center;
    background-size: initial;
}

main section.news article a h4
{
    text-align: center;
    padding: 4px;
}

main article
{
    padding: 0 25vw;
}

main article h4
{
    margin-bottom: 15px;
}

main article p
{
    margin: 10px 0;
    text-indent: 40px;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 1px;
}

main a
{
    align-self: flex-end;
    margin-right: 30px;
}

@media screen and (max-width: 450px)
{
    header a h1
    {
        font-size: 1.5rem;
    }

    main article
    {
        padding: 12px;
    }
}

/* Footer */
footer
{
    padding: 15px;
    text-align: center;

    color: var(--color-footer);
    background-color: var(--background-footer);
}